.person-result {
  z-index: 100;
  text-decoration: none;

  .person-result-body {
    border: 1px solid black;
    height: 400px;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
