<div class="header-backdrop" [ngStyle]="setHeaderBackdrop(this.movieDetail.backdrop_path)" *ngIf="!loading">
  <section class="header-title">
    <h1>
      {{movieDetail.title}}
      <small>
        (<span *ngIf="movieDetail.release_date; else noReleaseDate">
          <span
            *ngIf="!isDateEmpty(movieDetail.release_date); else noReleaseDate">{{movieDetail.release_date | date:'yyyy'}}</span>
        </span>)
      </small>
    </h1>
    <div class="header-info">
      <span class="year">
        <span *ngIf="!isDateEmpty(movieDetail.release_date); else noReleaseDate">
          {{movieDetail.release_date | date:'yyyy'}}
        </span>
      </span>
      <span class="director" *ngIf="director">
        Dir. {{director}}
      </span>
      <span class="runtime">
        <i class="fas fa-clock fa-fw"></i> {{movieDetail.runtime | runtime}}
      </span>
    </div>
  </section>
  <section class="header-poster">
    <div [ngStyle]="setPosterUrl(movieDetail.poster_path)"
      [ngClass]="{'bg-white':!isPosterUrl(movieDetail.poster_path)}" class="movie-poster">
      <span *ngIf="!isPosterUrl(movieDetail.poster_path)" class="no-poster-text">
        <i class="fa fa-unlink fa-2x fa-fw mb-4"></i>
        <br/>
        <small>No poster image available</small>
      </span>
    </div>
  </section>
</div>

<ng-template #noReleaseDate>
  <span>No Release Date</span>
</ng-template>
