<div class="header-backdrop" [ngStyle]="setHeaderBackdrop(this.movieDetail.backdrop_path)" *ngIf="!loading">
  <section class="header-title">
    <h1>
      {{movieDetail.title}}
      <small>
        (<span *ngIf="movieDetail.release_date; else noReleaseDate">
          <span
            *ngIf="!isDateEmpty(movieDetail.release_date); else noReleaseDate">{{movieDetail.release_date | date:'yyyy'}}</span>
        </span>)
      </small>
    </h1>
    <div class="header-info">
      <span class="year">
        <span *ngIf="!isDateEmpty(movieDetail.release_date); else noReleaseDate">
          {{movieDetail.release_date | date:'yyyy'}}
        </span>
      </span>
      <span class="director" *ngIf="director">
        Dir. {{director}}
      </span>
      <span class="runtime">
        <i class="fas fa-clock fa-fw"></i> {{movieDetail.runtime | runtime}}
      </span>
    </div>
  </section>
  <section class="header-poster">
    <div [ngStyle]="setPosterUrl(movieDetail.poster_path)"
      [ngClass]="{'bg-white':!isPosterUrl(movieDetail.poster_path)}" class="movie-poster">
      <div *ngIf="!isPosterUrl(movieDetail.poster_path); else viewGallery" class="no-poster-text">
        <i class="fa fa-unlink fa-2x fa-fw mb-4"></i>
        <span>No poster image available</span>
      </div>
      <ng-template #viewGallery>
        <a (click)="openGallery(0)" title="View Poster and/or Header Background">
          <div class="view-gallery">
            <i class="fas fa-search-plus fa-2x fa-fw"></i>
          </div>
        </a>
      </ng-template>
    </div>
  </section>
</div>

<ng-template #noReleaseDate>
  <span>No Release Date</span>
</ng-template>

<ngx-image-gallery 
  [images]="images" 
  [conf]="galleryConfig" 
  (onOpen)="galleryOpened($event)" 
  (onClose)="galleryClosed()"
  (onImageClicked)="galleryImageClicked($event)" 
  (onImageChange)="galleryImageChanged($event)"
  (onDelete)="deleteImage($event)">
</ngx-image-gallery>