.header-backdrop {
  height: 400px;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-image: url("https://via.placeholder.com/500x300?text=No+poster+available");
  background-position: center;
  box-shadow: 3px 3px 5px black;
  font-family: "Jost", "Arial", "sans-serif";

  .header-title {
    padding: 15px;
    color: white;
    position: relative;
    display: inline;

    h1 {
      border: 1px solid white;
      background-color: rgba(0, 0, 0, 0.8);
      padding: 0.5rem;
      display: inline-block;
      text-transform: uppercase;

      @media screen and (min-width: 992px) {
        max-width: 75%;
      }

      small {
        @media screen and (max-width: 991px) {
          display: none;
        }
      }
    }

    .header-info {
      & > span {
        border: 1px solid white;
        background-color: rgba(0, 0, 0, 0.8);
        display: inline-block;
        padding: 0.5rem;

        &:not(:last-child) {
          margin-right: 0.5rem;
        }
      }

      .year {
        text-transform: uppercase;

        @media screen and (min-width: 992px) {
          display: none;
        }
      }

      .director {
        text-transform: uppercase;

        @media screen and (max-width: 991px) {
          display: none;
        }
      }
    }
  }

  .header-poster {
    position: relative;

    .see-background-image {
      position: absolute;
      right: calc(1.5rem + 150px);
      bottom: 1rem;

      button {
        text-transform: uppercase;
      }

      @media screen and (max-width: 991px) {
        display: none;
      }
    }

    .movie-poster {
      position: absolute;
      right: 1rem;
      bottom: 1rem;
      border: 1px solid white;
      width: 150px;
      height: 225px;
      box-shadow: 5px 5px 10px black;
      background-size: cover;
      background-position: center;
      display: flex;
      justify-content: center;
      align-items: center;
      text-transform: uppercase;

      @media screen and (max-width: 991px) {
        display: none;
      }

      .no-poster-text {
        color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
      }

      a {
        color: white;
        text-decoration: none;
        cursor: pointer;
        opacity: 0;
        transition: opacity linear 0.1s;

        .view-gallery {
          width: 150px;
          height: 225px;
          border: 1px solid white;
          background-color: rgba(0,0,0,0.75);
          text-align: center;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }

        &:hover {
          opacity: 1;
        }
      }
    }
  }
}
