a.movie-result {
  z-index: 100;
  text-decoration: none;

  .movie-result-body {
    border: 1px solid black;
    height: 400px;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .movie-result-no-poster-available {
      color: black;
    }

    .movie-result-content {
      font-size: 0.7rem;
      width: 100%;
      padding: 0.5rem;
      background-color: rgba(0,0,0,0.75);
      color: white;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: center;
    }
  }

  &:hover {
    .search-result-body {
      opacity: 0.75;
    }
  }
}
