<aside class="movie-similar" *ngIf="!loading; else nowLoading">
  <h4 class="text-uppercase jost-font">Similar Movies</h4>

  <div *ngIf="similarMovies.length > 0; else noSimilarMoviesFound">

    <div class="movies-similar-to">
      <div *ngFor="let similarMovie of similarMovies">
        <app-overview-similar-to [movie]="similarMovie"></app-overview-similar-to>
      </div>
    </div>

    <button class="btn btn-primary btn-block btn-uppercase-content">
      See more similar movies
    </button>
  </div>
</aside>

<ng-template #nowLoading>
  <p>Loading... <i class="fas fa-circle-notch fa-spin fa-fw"></i></p>
</ng-template>

<ng-template #noSimilarMoviesFound>
  <p>No similar movies found</p>
</ng-template>
