<aside class="movie-similar" *ngIf="!loading; else nowLoading">
  <h4 class="text-uppercase jost-font">Similar Movies</h4>

  <div class="movies-similar-to">
    <div *ngFor="let similarMovie of similarMovies">
      <app-similar-to [movie]="similarMovie"></app-similar-to>
    </div>
  </div>

  <button class="btn btn-primary btn-block btn-content">
    See more similar movies
  </button>

</aside>

<ng-template #nowLoading>
  <p>Loading... <i class="fas fa-circle-notch fa-spin fa-fw"></i></p>
</ng-template>

