<header class="bg-danger">
  <nav class="navbar nav-expand-lg justify-content-start">
    <a class="navbar-brand text-white" href="#">
      Find a Movie
    </a>
    <form class="form-inline flex-grow-1">
      <div class="input-group w-100">
        <input type="search" class="form-control" placeholder="Enter a title"/>
        <div class="input-group-append">
          <button type="submit" class="btn btn-light btn-outline-dark">
            <i class="fas fa-search fa-fw"></i>
          </button>
        </div>
      </div>
    </form>
  </nav>
</header>

