<section class="no-movie-found">
  <div class="no-movie-found-content">
    <div class="mb-3">
      <span class="fa-stack fa-5x">
        <i class="fas fa-film fa-stack-1x"></i>
        <i class="fas fa-times fa-stack-2x text-danger"></i>
      </span>
    </div>
    <div class="no-movie-found-text p-4 mx-3">
      <h1 class="mb-4">Movie not found</h1>
      <p>This app uses the TMDB API. Probably there isn't a movie associated with this ID.</p>
      <p>Try another ID, or just use the search bar again to find another movie.</p>
    </div>
  </div>
</section>
