.feature-content {
  .feature {
    margin-bottom: 1rem;

    main {
      .external-links {
        font-family: "Jost", "Arial", "sans-serif";
      }

      .nav-tabs {
        &.nav {
          a {
            font-family: "Jost", "Arial", "sans-serif";
            text-transform: uppercase;
          }
        }
      }
    }
  }
}
