.search-form {
  .search-autocomplete {
      position: absolute;

      @media screen and (max-width: 991px) {
        width: inherit;
      }

      @media screen and (min-width: 992px) {
        width: 92%;
      }

      background-color: white;
      box-shadow: 5px 5px 5px black;

      .bar-result {
        border: 0;
        width: 100%;
        cursor: pointer;
        padding: 0.375rem 0.75rem;

        &.active {
          background-color: dodgerblue;
          color: white;
        }
      }
    }
}
