<section class="header-poster">
  <div [ngStyle]="setPosterBg(movieDetail.poster_path)" [ngClass]="{'bg-white':!isPosterUrl(movieDetail.poster_path)}" class="movie-poster">
    <div *ngIf="!isPosterUrl(movieDetail.poster_path); else viewGallery" class="no-poster-text">
      <i class="fa fa-unlink fa-2x fa-fw mb-4"></i>
      <span>No poster image available</span>
    </div>
    <ng-template #viewGallery>
      <a [href]="setPosterUrl(movieDetail.poster_path)" target="_blank" title="Open poster in new window/tab">
        <div class="view-gallery">
          <i class="fas fa-arrow-up-right-from-square fa-2x fa-fw"></i>
        </div>
      </a>
    </ng-template>
  </div>
</section>
