<section class="crew">
  <div class="row">
    <div class="col-12 col-lg-8 offset-lg-2">
      <div class="table-responsive">
        <table class="table">
          <tr *ngIf="direction && direction.length > 0">
            <th>Directed by:</th>
            <td>
              <div *ngFor="let director of direction">
                <a href="#" [routerLink]="['/person', director.id]">
                  {{director.name}}
                </a>
              </div>
            </td>
          </tr>
          <tr *ngIf="writing && writing.length > 0">
            <th>Written by</th>
            <td>
              <div *ngFor="let writer of writing">
                <a href="#" [routerLink]="['/person', writer.id]">
                  {{writer.name}}
                </a>
              </div>
            </td>
          </tr>
          <tr *ngIf="screenPlayers && screenPlayers.length > 0">
            <th>Screenplay by:</th>
            <td>
              <div *ngFor="let screenPlayer of screenPlayers">
                <a href="#" [routerLink]="['/person', screenPlayer.id]">
                  {{screenPlayer.name}}
                </a>
              </div>
            </td>
          </tr>
          <tr *ngIf="storyPlayers && storyPlayers.length > 0">
            <th>Story by:</th>
            <td>
              <div *ngFor="let storyPlayer of storyPlayers">
                <a href="#" [routerLink]="['/person', storyPlayer.id]">
                  {{storyPlayer.name}}
                </a>
              </div>
            </td>
          </tr>
          <tr *ngIf="isBasedOnWork && basedOnWorkAuthors && basedOnWorkAuthors.length > 0">
            <th>Based on the work by:</th>
            <td>
              <div *ngFor="let originalWorkAuthor of basedOnWorkAuthors">
                <a href="#" [routerLink]="['/person', originalWorkAuthor.id]">
                  {{originalWorkAuthor.name}}
                </a>
              </div>
            </td>
          </tr>
          <tr *ngIf="producers && producers.length > 0">
            <th>Produced by:</th>
            <td>
              <div *ngFor="let producer of producers">
                <a href="#" [routerLink]="['/person', producer.id]">
                  {{producer.name}}
                </a>
              </div>
            </td>
          </tr>
          <tr *ngIf="executiveProducers && executiveProducers.length > 0">
            <th>
              Executive Producer<span *ngIf="executiveProducers.length > 1">s</span>:
            </th>
            <td>
              <div *ngFor="let executiveProducer of executiveProducers">
                <a href="#" [routerLink]="['/person', executiveProducer.id]">
                  {{executiveProducer.name}}
                </a>
              </div>
            </td>
          </tr>
          <tr *ngIf="cinematographers && cinematographers.length > 0">
            <th>
              Director<span *ngIf="cinematographers.length > 1">s</span> of Photography:
            </th>
            <td>
              <div *ngFor="let cinematographer of cinematographers">
                <a href="#" [routerLink]="['/person', cinematographer.id]">
                  {{cinematographer.name}}
                </a>
              </div>
            </td>
          </tr>
          <tr *ngIf="productionDesigners && productionDesigners.length > 0">
            <th>
              Production Design:
            </th>
            <td>
              <div *ngFor="let productionDesign of productionDesigners">
                <a href="#" [routerLink]="['/person', productionDesign.id]">
                  {{productionDesign.name}}
                </a>
              </div>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</section>

