<section class="person-overview" *ngIf="!loading; else nowLoading">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-lg-9 order-1">
        <section class="person-biography" *ngIf="hasBiography(); else noBiography">
          <p>{{personDetail.biography}}</p>
        </section>

        <hr />

        <app-cast-summary [castCredits]="castCredits">
        </app-cast-summary>

        <app-crew-summary [crewCredits]="crewCredits">
        </app-crew-summary>
      </div>
      <div class="col-12 col-lg-3 order-2">
        <app-person-info [personDetail]="personDetail"></app-person-info>
      </div>
    </div>
  </div>
</section>

<ng-template #noBiography>
  <p>No biography available</p>
</ng-template>

<ng-template #nowLoading>
  <p>Loading... <i class="fas fa-circle-notch fa-spin fa-fw"></i></p>
</ng-template>
