<section class="movie-overview">
  <div class="row">
    <div class="col-12 col-lg-3 order-2 order-lg-1">
      <app-movie-specs [movieDetail]="movieDetail"></app-movie-specs>
      <hr />
    </div>
    <div class="col-12 col-lg-6 order-1 order-lg-2">
      <section class="description">
        <div *ngIf="movieDetail.tagline">
          <p><i>{{movieDetail.tagline}}</i></p>
        </div>
        <div *ngIf="movieDetail.overview; else noOverview">
          <p>{{movieDetail.overview}}</p>
        </div>
        <ng-template #noOverview>
          <p>No overview available.</p>
        </ng-template>
      </section>
      <hr />
      <app-cast-and-crew-summary [cast]="cast" [crew]="crew"></app-cast-and-crew-summary>
      <hr />
      <section class="trailer">
        <app-movie-trailer [movieId]="id"></app-movie-trailer>
      </section>
    </div>
    <div class="col-12 col-lg-3 order-3 order-lg-3">
      <app-movie-external-links [movieDetail]="movieDetail" [id]="id"></app-movie-external-links>
    </div>
  </div>
</section>
