<div *ngIf="!loading; else nowLoading">
  <div class="btn-group btn-block" role="group" aria-label="Movie Social Networks">
    <a *ngIf="facebookId" href="https://facebook.com/{{facebookId}}" class="btn btn-info" target="_blank" title="Facebook">
      <i class="fab fa-facebook-f fa-fw"></i>
    </a>
    <a *ngIf="instagramId" href="https://instagram.com/{{instagramId}}" class="btn btn-info" target="_blank" title="Instagram">
      <i class="fab fa-instagram fa-fw"></i>
    </a>
    <a *ngIf="twitterId" href="https://twitter.com/{{twitterId}}" class="btn btn-info" target="_blank" title="Twitter">
      <i class="fab fa-twitter fa-fw"></i>
    </a>
  </div>
</div>
<ng-template #nowLoading>
  <p>Loading... <i class="fas fa-circle-notch fa-spin fa-fw"></i></p>
</ng-template>
