footer {
  color: white;
  font-size: 0.7rem;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;

  @media screen and (min-width: 992px) {
    position: fixed;
    bottom: 0;
  }

  a {
    color: white;
    text-decoration: underline;
  }
}
