<footer class="py-2">
  <div class="d-flex flex-column flex-lg-row justify-content-start justify-content-lg-between ">
    <div>App
      &#169; CeAlCuadrado, {{currentDate | date:'yyyy'}} | <a href="https://cealcuadrado.github.io"
        target="_blank"><i class="fas fa-globe fa-fw"></i></a> | <i class="fa fa-envelope fa-fw"></i> cealcuadrado[at]outlook.com
    </div>
    <div>
      Movie data and images by <a href="https://developers.themoviedb.org/3" target="_blank">TMDB
        API</a>
    </div>
  </div>
</footer>

