<div class="person-content" *ngIf="!loading; else loadingPerson">
  <section class="person" *ngIf="personDetail; else noPersonFound">
    <header>
      <div class="header-backdrop" [ngStyle]="setHeaderProfile(this.personDetail.profile_path)">
        <section class="header-title">
          <h1>{{personDetail.name}}</h1>
          <div class="header-info">
            <span class="birth-and-death-years"
              *ngIf="hasAtLeastBirthOrDeathDay(personDetail.birthday, personDetail.deathday)">
              <span *ngIf="personDetail.birthday; else dateUnknown">{{personDetail.birthday | date:'yyyy'}}</span>
               -
              <span *ngIf="personDetail.deathday">{{personDetail.deathday | date:'yyyy'}}</span>
            </span>
            <span class="known-for" *ngIf="personDetail.known_for_department">
              Known for: {{personDetail.known_for_department}}
            </span>
          </div>
        </section>
      </div>
    </header>
    <section class="person-body">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 col-lg-3 order-2 order-lg-1">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi libero diam, tincidunt a purus at, tempus
              pretium erat. Cras pulvinar vitae augue nec volutpat.</p>
          </div>
          <div class="col-12 col-lg-6 order-1 order-lg-2">
            <p>{{personDetail.biography}}</p>
          </div>
          <div class="col-12 col-lg-3 order-3 order-lg-3">
            <p>Aenean ullamcorper sapien id elit volutpat congue. In accumsan lectus non convallis pretium. Fusce dictum
              cursus elit eu molestie.</p>
          </div>
        </div>
      </div>
    </section>
  </section>
</div>

<ng-template #dateUnknown>
  Unknown
</ng-template>

<ng-template #noPersonFound>
  <app-no-person-found></app-no-person-found>
</ng-template>

<ng-template #loadingPerson>
  <div class="loading-person">
    <i class="fas fa-circle-notch fa-spin fa-5x fa-fw"></i>
  </div>
</ng-template>
