<div class="person-content" *ngIf="!loading; else loadingPerson">
  <section class="person" *ngIf="personDetail; else noPersonFound">
    <header>
      <div class="header-backdrop" [ngStyle]="setHeaderProfile(this.personDetail.profile_path)">
        <section class="header-title">
          <h1>{{personDetail.name}}</h1>
          <div class="header-info">
            <span class="birth-and-death-years"
              *ngIf="hasAtLeastBirthOrDeathDay(personDetail.birthday, personDetail.deathday)">
              <span *ngIf="personDetail.birthday; else dateUnknown">{{personDetail.birthday | date:'yyyy'}}</span>
               -
              <span *ngIf="personDetail.deathday">{{personDetail.deathday | date:'yyyy'}}</span>
            </span>
            <span class="known-for" *ngIf="personDetail.known_for_department">
              Known for: {{personDetail.known_for_department}}
            </span>
          </div>
        </section>
      </div>
    </header>

    <main class="person-body">

      <ul class="nav nav-tabs mb-3">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/person', id, 'overview']" routerLinkActive="active" href="#">
            Overview
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/person', id, 'cast']" routerLinkActive="active" href="#">
            Cast
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/person', id, 'crew']" routerLinkActive="active" href="#">
            Crew
          </a>
        </li>
      </ul>

      <router-outlet></router-outlet>

      <!--
      <ul ngbNav #nav="ngbNav" [(activeId)]="currentTab" class="nav-tabs">
        <li [ngbNavItem]="1">
          <a ngbNavLink>Overview</a>
          <ng-template ngbNavContent>
            <app-person-overview [personDetail]="personDetail" [castCredits]="personCastCredits"
              [crewCredits]="personCrewCredits">
            </app-person-overview>
          </ng-template>
        </li>
        <li [ngbNavItem]="2" *ngIf="personCastCredits && personCastCredits.length > 0">
          <a ngbNavLink>Cast Filmography</a>
          <ng-template ngbNavContent>
            <app-person-cast
              [name]="personDetail.name"
              [castCredits]="personCastCredits">
            </app-person-cast>
          </ng-template>
        </li>
        <li [ngbNavItem]="3" *ngIf="personCrewCredits && personCrewCredits.length > 0">
          <a ngbNavLink>Crew Filmography</a>
          <ng-template ngbNavContent>
            <app-person-crew
              [name]="personDetail.name"
              [crewCredits]="personCrewCredits">
            </app-person-crew>
          </ng-template>
        </li>
      </ul>

      <div [ngbNavOutlet]="nav" class="mt-2"></div>
      -->
    </main>
  </section>
</div>

<ng-template #dateUnknown>
  Unknown
</ng-template>

<ng-template #noPersonFound>
  <app-no-person-found></app-no-person-found>
</ng-template>

<ng-template #loadingPerson>
  <app-loading [center]="true"></app-loading>
</ng-template>
