<div class="search-bar">
  <div class="d-flex flex-column flex-lg-row search-bar-column">
    <div class="col-auto">
      <div ngbDropdown aria-label="Change search mode">
        <button class="btn btn-light btn-outline-dark btn-block" type="button" id="searchModeDropdown" ngbDropdownToggle>
          <i class="fa fa-fw" [ngClass]="searchMode.icon"></i> {{searchMode.name}}
        </button>
        <div ngbDropdownMenu aria-labelledby="searchModeDropdown">
          <button *ngFor="let dropdownSearchMode of searchModes" ngbDropdownItem
            (click)="changeSearchMode(dropdownSearchMode)" type="button"
            [ngClass]="isSameSearchMode(dropdownSearchMode)">
            <i class="fa fa-fw" [ngClass]="dropdownSearchMode.icon"></i>
            {{dropdownSearchMode.name}}
          </button>
        </div>
      </div>
    </div>
    <div class="col-auto flex-grow-1" *ngIf="searchMode.value == 'movies'">
      <app-bar-movie></app-bar-movie>
    </div>
    <div class="col-auto flex-grow-1" *ngIf="searchMode.value == 'people'">
      <app-bar-people></app-bar-people>
    </div>
  </div>
</div>
