main {
  section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &.welcome {
      background: url('./../../assets/img/bg.jpg');
      background-position: top;
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
    }

    &.description {
      background: url('./../../assets/img/bg2.jpg');
      background-position: top;
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
    }

    .main-text {
      border: 1px solid black;
      background-color: rgba(17,17,17,0.9);
      color: white;
      font-family: 'Jost', 'Arial', 'sans-serif';
    }
  }
}
