<section class="movie" *ngIf="movieDetail; else loadingMovie">
  <header [ngStyle]="{'background-image':'url(' + setBackdropUrl(movieDetail.backdrop_path) +')', 'background-size':'cover', 'background-position':'top'}">
    <section class="header-title">
      <div class="header-heading">
        <h1>{{movieDetail.title}}</h1>
        <span>
          <span *ngIf="movieDetail.release_date; else noReleaseDate">
            <span *ngIf="!isDateEmpty(movieDetail.release_date); else noReleaseDate">
              {{movieDetail.release_date | date:'yyyy'}}
            </span>
          </span>
          <ng-template #noReleaseDate>
            <span>No Release Date</span>
          </ng-template>
          {{movieDetail.runtime | runtime:' | '}}
        </span>
      </div>
      <div>
        <div [ngStyle]="{'background-image':'url(' + setPosterUrl(movieDetail.poster_path) + ')'}"
             [ngClass]="{'bg-white':!isPosterUrl(movieDetail.poster_path)}" class="movie-poster">
          <span *ngIf="!isPosterUrl(movieDetail.poster_path)" class="no-poster-text">
            No poster available
          </span>
        </div>
      </div>
    </section>
  </header>

  <div class="container-fluid">
    <main>
      <div class="row">
        <div class="col-12 col-lg-3 order-2 order-lg-1">
          <section class="basic-info">
            <p>
              <strong>Genre(s):</strong>
              <br>
              <span *ngFor="let genre of movieDetail.genres; let i = index">
                {{genre.name}}
                <br>
              </span>
            </p>
            <p>
              <strong>Release Date:</strong>
              <br>{{movieDetail.release_date | date}}
            </p>
            <p>
              <strong>Production Countries:</strong>
              <br>
              <span *ngFor="let country of movieDetail.production_countries; let i = index">
                {{country.name}}
                <br>
              </span>
            </p>
            <p>
              <strong>Language(s):</strong>
              <br>
              <span *ngFor="let language of movieDetail.spoken_languages; let i = index">
                {{language.english_name}}<span *ngIf="i != movieDetail.spoken_languages.length - 1"></span>
                <br>
              </span>
            </p>
            <p>
              <strong>Runtime:</strong>
              <br>{{movieDetail.runtime | runtime}}
            </p>
            <p>
              <strong>Production Companies:</strong>
              <br>
              <span *ngFor="let company of movieDetail.production_companies; let i = index">
                {{company.name}}
                <br>
              </span>
            </p>
            <p>
              <strong>Budget:</strong>
              <br>
              <span *ngIf="movieDetail.budget != 0; else noBudgetAvailable">
                {{movieDetail.budget | currency:'USD':'symbol':'3.0'}}
              </span>
              <ng-template #noBudgetAvailable>
                No Budget Available
              </ng-template>
            </p>
            <p>
              <strong>Box Office Revenue:</strong>
              <br>
              <span *ngIf="movieDetail.revenue != 0; else noRevenueAvailable">
                {{movieDetail.revenue | currency:'USD':'symbol':'3.0'}}
              </span>
              <ng-template #noRevenueAvailable>
                No Revenue Available
              </ng-template>
            </p>
          </section>
          <hr/>
        </div>
        <div class="col-12 col-lg-6 order-1 order-lg-2">
          <section class="description">
            <div *ngIf="movieDetail.tagline">
              <p><i>{{movieDetail.tagline}}</i></p>
            </div>
            <div *ngIf="movieDetail.overview; else noOverview">
              <p>{{movieDetail.overview}}</p>
            </div>
            <ng-template #noOverview>
              <p>No overview available.</p>
            </ng-template>
          </section>
          <hr/>
          <app-cast-and-crew></app-cast-and-crew>
          <hr>
          <section class="trailer">
            <app-movie-trailer [movieId]="id"></app-movie-trailer>
          </section>
        </div>
        <div class="col-12 col-lg-3 order-3 order-lg-3">
          <a *ngIf="movieDetail.imdb_id != null" [href]="setImdbUrl(movieDetail.imdb_id)" target="_blank" class="btn btn-block btn-warning">
            <i class="fab fa-imdb fa-fw"></i> IMDB Profile
          </a>
          <!--
          <a href="#" class="btn btn-block btn-warning">
            TMDB Profile
          </a>
          -->
          <a *ngIf="isHomepageEmpty(movieDetail.homepage)" [href]="movieDetail.homepage" target="_blank" class="btn btn-block btn-warning">
            <i class="fas fa-globe fa-fw"></i> Official Website
          </a>
        </div>
      </div>
    </main>
  </div>
</section>
<ng-template #loadingMovie>
  <app-loading></app-loading>
</ng-template>
