.movie {
  padding-top: 3rem;
  margin-bottom: 1rem;

  .movie-body {
    .external-links {
      font-family: 'Jost', 'Arial', 'sans-serif';
    }

    .nav-tabs {
      &.nav {
        a {
          font-family: 'Jost', 'Arial', 'sans-serif';
          text-transform: uppercase;
        }
      }
    }
  }
}

.loading-movie {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


