.movie {
  padding-top: 3rem;
  padding-bottom: 4rem;

  header {
    height: 400px;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url('https://via.placeholder.com/500x300?text=No+poster+available');
    background-position: center;

    .header-title {
      padding: 0rem 1rem;
      color: white;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;

      .header-heading {
        background-color: rgba(0,0,0,0.75);
        padding: 1rem;
      }

      .movie-poster {
        border: 1px solid black;
        width: 150px;
        height: 225px;
        box-shadow: 5px 5px 10px black;
        background-size: cover;
        background-position: center;

        @media screen and (max-width: 991px) {
          display: none;
        }
      }
    }
  }

  main {

  }
}

