.movie {
  padding-top: 3rem;
  padding-bottom: 4rem;

  header {
    height: 400px;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-image: url('https://via.placeholder.com/500x300?text=No+poster+available');
    background-position: center;
    box-shadow: 3px 3px 5px black;

    .header-title {
      padding: 15px;
      color: white;
      position: relative;
      display: inline;

      h1 {
        border: 1px solid white;
        background-color: rgba(0,0,0,0.85);
        padding: 0.5rem;
        display: inline-block;

        @media screen and (min-width: 992px) {
          max-width: 75%;
        }
      }

      .year {
        border: 1px solid white;
        background-color: rgba(0,0,0,0.85);
        margin-right: 0.5rem;
        display: inline-block;
        padding: 0.5rem;
      }

      .runtime {
        border: 1px solid white;
        background-color: rgba(0,0,0,0.85);
        display: inline-block;
        padding: 0.5rem;
      }
    }

    .header-poster {
      position: relative;

      .movie-poster {
        position: absolute;
        right: 1rem;
        bottom: 1rem;
        border: 1px solid white;
        width: 150px;
        height: 225px;
        box-shadow: 5px 5px 10px black;
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;

        @media screen and (max-width: 991px) {
          display: none;
        }

        .no-poster-text {
          color: black;
        }
      }
    }
  }
}

.no-movie-found {
  text-align: center;
  padding-top: 2rem;
}

