<main class="movie" *ngIf="!loading; else loadingMovie">
  <div class="movie-content" *ngIf="movieDetail; else noMovieFound">
    <header class="movie-header"
      [ngStyle]="setHeaderBackdrop(this.movieDetail.backdrop_path)">
      <section class="header-title">
        <h1>{{movieDetail.title}}</h1>
        <div class="header-info">
          <span class="director" *ngIf="director">
            Dir. {{director}}
          </span>
          <span class="year">
            <span *ngIf="movieDetail.release_date; else noReleaseDate">
              <span
                *ngIf="!isDateEmpty(movieDetail.release_date); else noReleaseDate">{{movieDetail.release_date | date:'yyyy'}}</span>
            </span>
            <ng-template #noReleaseDate>
              <span>No Release Date</span>
            </ng-template>
          </span>
          <span class="runtime">
            <i class="fas fa-clock fa-fw"></i> {{movieDetail.runtime | runtime}}
          </span>
        </div>
      </section>
      <section class="header-poster">
        <div [ngStyle]="setPosterUrl(movieDetail.poster_path)"
          [ngClass]="{'bg-white':!isPosterUrl(movieDetail.poster_path)}" class="movie-poster">
          <span *ngIf="!isPosterUrl(movieDetail.poster_path)" class="no-poster-text">
            No poster available
          </span>
        </div>
      </section>
    </header>

    <section class="movie-body">
      <div class="container-fluid">
        <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
          <li [ngbNavItem]="1">
            <a ngbNavLink>Main</a>
            <ng-template ngbNavContent>
              <app-movie-main
                [id]="id"
                [movieDetail]="movieDetail"
                [cast]="cast"
                [crew]="crew">
              </app-movie-main>
            </ng-template>
          </li>
          <li [ngbNavItem]="2">
            <a ngbNavLink>Cast</a>
            <ng-template ngbNavContent>
              <app-movie-cast [cast]="cast"></app-movie-cast>
            </ng-template>
          </li>
          <li [ngbNavItem]="3">
            <a ngbNavLink>Crew</a>
            <ng-template ngbNavContent>
              <app-movie-crew [crew]="crew"></app-movie-crew>
            </ng-template>
          </li>
        </ul>

        <div [ngbNavOutlet]="nav" class="mt-2"></div>
      </div>
    </section>
  </div>
  <ng-template #noMovieFound>
    <app-no-movie-found></app-no-movie-found>
  </ng-template>
</main>

<ng-template #loadingMovie>
  <div class="loading-movie">
    <i class="fas fa-circle-notch fa-spin fa-5x fa-fw"></i>
  </div>
</ng-template>
