<aside class="movie-specs" *ngIf="!loading; else nowLoading">
  <p *ngIf="movieDetail.original_language != 'en' && !movieDetail.original_title.match(movieDetail.title)">
    <strong>Original Title:</strong>
    <br>{{movieDetail.original_title}}
  </p>
  <p *ngIf="movieDetail.genres && movieDetail.genres.length > 0">
    <strong>
      Genre<span *ngIf="movieDetail.genres.length > 1">s</span>:
    </strong>
    <br>
    <span *ngFor="let genre of movieDetail.genres; let i = index">
      {{genre.name}}
      <br>
    </span>
  </p>
  <p *ngIf="movieDetail.release_date">
    <strong>Release Date:</strong>
    <br>{{movieDetail.release_date | date}}
  </p>
  <p *ngIf="movieDetail.production_countries && movieDetail.production_countries.length > 0">
    <strong>
      Production Countr<span *ngIf="movieDetail.production_countries.length == 1">y:</span><span *ngIf="movieDetail.production_countries.length > 1">ies:</span>
    </strong>
    <br>
    <span *ngFor="let country of movieDetail.production_countries; let i = index">
      {{country.name}}
      <br>
    </span>
  </p>
  <p *ngIf="movieDetail.spoken_languages && movieDetail.spoken_languages.length > 0">
    <strong>Spoken Language<span *ngIf="movieDetail.spoken_languages.length > 1">s</span>:</strong>
    <br>
    <span *ngFor="let language of movieDetail.spoken_languages; let i = index">
      {{language.english_name}}<span *ngIf="i != movieDetail.spoken_languages.length - 1"></span>
      <br>
    </span>
  </p>
  <p *ngIf="movieDetail.runtime">
    <strong>Runtime:</strong>
    <br>{{movieDetail.runtime | runtime}}
  </p>
  <p *ngIf="movieDetail.production_companies && movieDetail.production_companies.length > 0">
    <strong>
      Production Compan<span *ngIf="movieDetail.production_companies.length == 1">y:</span><span *ngIf="movieDetail.production_companies.length > 1">ies:</span>
    </strong>
    <br>
    <span *ngFor="let company of movieDetail.production_companies; let i = index">
      {{company.name}}
      <br>
    </span>
  </p>
  <p *ngIf="movieDetail.budget">
    <strong>Budget:</strong>
    <br>
    <span *ngIf="movieDetail.budget != 0; else noBudgetAvailable">
      {{movieDetail.budget | currency:'USD':'symbol':'3.0'}}
    </span>
    <ng-template #noBudgetAvailable>
      No Budget Available
    </ng-template>
  </p>
  <p *ngIf="movieDetail.revenue">
    <strong>Box Office Revenue:</strong>
    <br>
    <span *ngIf="movieDetail.revenue != 0; else noRevenueAvailable">
      {{movieDetail.revenue | currency:'USD':'symbol':'3.0'}}
    </span>
    <ng-template #noRevenueAvailable>
      No Revenue Available
    </ng-template>
  </p>
</aside>

<ng-template #nowLoading>
  <p>Loading... <i class="fas fa-circle-notch fa-spin fa-fw"></i></p>
</ng-template>
