<section class="person-cast" *ngIf="!loading(); else nowLoading">
  <div class="container">
    <header>
      <p><strong>{{name}}</strong> has starred in the following movies, TV movies, and/or specials: </p>
    </header>

    <div class="person-cast-body">
      <div class="person-cast-filter">
         <div class="row mb-3">
           <div class="col-12">
             <div class="input-group">
               <div class="input-group-prepend">
                 <label class="input-group-text" for="filterCastInput">
                   <i class="fas fa-filter fa-fw"></i>
                 </label>
               </div>
               <input type="text" class="form-control"
                      [(ngModel)]="filterInput" id="filterCastInput"
                      name="filterCastInput" placeholder="Filter cast role (By movie, character)" />
             </div>
           </div>
         </div>
      </div>
      <div class="person-cast-results">
        <div class="row">
          <div
            *ngFor="let castCredit of castCredits | filterCast:filterInput | paginate: {itemsPerPage: resultsPerPage,
            currentPage: currentPage}"
            class="col-12 col-md-6 col-lg-3">
            <app-person-cast-result [height]="400" [credit]="castCredit">
            </app-person-cast-result>
          </div>
        </div>
      </div>
      <div class="person-cast-pagination">
        <div class="text-center">
          <pagination-controls (pageChange)="onPageChange($event)" [autoHide]="true" [maxSize]="5">
          </pagination-controls>
        </div>
      </div>
    </div>
  </div>
</section>

<ng-template #nowLoading>
  <app-loading [center]="true"></app-loading>
</ng-template>
